<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/link") %>
</head>
<body>
    <!-- <form action="/changepassword" method="post">
        <label for="email" name="Useremail">Email</label>
        <input type="email" name="Useremail" value="<%= locals.email %>" readonly>
        <label for="newpassword" name="newpassword">New Password</label>
        <input type="password" name="newpassword" placeholder="Enter your New Password">
        <button class="btn btn-primary">Change Password</button>
    </form> -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mb-4">Log In</h2>
                <form action="/changepassword" method="post">
                   
                    <div class="form-group">
                        <label for="email" name="Useremail">Email address</label>
                        <input type="email" class="form-control" id="Useremail" value="<%= locals.email %>" placeholder="Enter email" readonly name="Useremail">
                    </div>
                    <div class="form-group">
                        <label for="password" name="newpassword">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" required name="newpassword">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary btn-block">Change Password</button>
                </form>
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <%- include("partials/script") %>
</body>
</html>